@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #e8e6e6;
  --background-color: #18181b;
}
* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.4;
  color: var(--background-color);
}
html,
body {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* header */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../assets/sd1.png) center/contain no-repeat fixed;
  background-size: 100%; /* Resize the background image to cover the entire container */

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* Add the following rule */
header::after {
  content: "";
  background-image: url(../../assets/sd1.png);
  background-size: cover;
  opacity: 0; /* Adjust opacity as needed */
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}
.navbar-brand {
  color: #fff;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}
.navbar-nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.1rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover {
  opacity: 0.7;
}
.banner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.banner-title {
  font-size: 3rem;
  line-height: 1.2;
}
.banner-title span {
  color: var(--text-color);
}
.banner p {
  font-size: 2.2rem;
  text-transform: capitalize;
  font-weight: 300;
  word-spacing: 2px;
}
.banner form {
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
}
.search-input {
  font-size: 1.1rem;
  width: 100%;
  outline: 0;
  padding: 0.6rem 0;
  border: none;
}
.search-input::placeholder {
  text-transform: capitalize;
}
.search-btn {
  width: 40px;
  font-size: 1.1rem;
  color: var(--background-color);
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

/* design */
.design {
  padding: 4.5rem 0;
}
.title {
  text-align: center;
  padding: 1rem 0;
  color: var(--text-color);
}
.title h2 {
  font-size: 2.4rem;
  color: var(--text-color);
}
.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
  color: var(--text-color);
}
.design-content {
  margin: 2rem 0;
}
.design-item {
  cursor: pointer;
  margin: 1.5rem 0;
}
.design-img {
  position: relative;
  overflow: hidden;
}
.design-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.design-img img {
  transition: all 0.5s ease;
}
.design-item:hover img {
  transform: scale(1.2);
}
.design-img span:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--text-color);
  color: #fff;
  padding: 0.25rem 1rem;
}
.design-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.design-title a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
}

/* blog */
.blog {
  background: var(--background-color);
  padding: 4.5rem 0;
}
.blog-content {
  margin: 2rem 0;
}
.blog-img {
  position: relative;
  border-radius: 10px; /* Adjust the value as needed for softer or sharper corners */
  overflow: hidden;
  width: 234px;
}

.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--text-color);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span {
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}
.blog-text h2 {
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--text-color);
}
.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
  color: var(--text-color);
}
.blog-text a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--background-color);
  display: inline-block;
  background: var(--text-color);
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}
.blog-text a:hover {
  background: var(--background-color);
  color: var(--text-color);
}

/* about */
.about {
  padding: 4.5rem 0;
  background: var(--background-color);
}
.about-text {
  margin: 2rem 0;
  color: var(--text-color);
}
.about-text > p {
  font-size: 1.1rem;
  padding: 0.6rem 0;
  opacity: 0.8;
  color: var(--text-color);
}

/* footer */
footer {
  background: var(--text-color);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.social-links a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #fff;
  color: var(--text-color);
}
.footer span {
  margin-top: 1rem;
  display: block;
  letter-spacing: 2px;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  opacity: 0.7;
}

#scrollToTopBtn:hover {
  background-color: #2980b9;
  opacity: 1;
  transform: scale(1.1);
}

/* Add responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  #scrollToTopBtn {
    right: 10px;
    bottom: 10px;
    font-size: 14px;
  }
}

/* Media Queries */
@media screen and (min-width: 540px) {
  .navbar-nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .banner-title {
    font-size: 5rem;
  }
  .banner form {
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-input {
    padding: 0.8rem 0;
  }
  .design-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .design-item {
    margin: 0;
  }
  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .design-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
